---
import { actions } from "astro:actions";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/entities/heder.astro";
import Pagination from "@/components/ui/pagination.astro"

const { data, error } = await Astro.callAction(actions.getEntitiesPaginate, {
    contentType: "project",
    page: 1,
});

if (error) return Astro.redirect("/500");
---

<Layout title="Nuestro Blog">
    <Header />
    <h3 class="text-center text-secondary-text text-xs font-light mb-2">
        NUESTRO BLOG
    </h3>
    <h1 class="text-center text-primary-text text-4xl font-semibold mb-5">
        MANGRLARIA BLOG
    </h1>
    <p
        class="text-center text-secondary-text text-md font-normal max-w-2xl mx-auto"
    >
        our blogs are written from very research research and well known writers
        writers so that we can provide you the best blogs and articles articles
        for you to read them all along
    </p>
    <section
        class="gap-6 max-w-6xl text-primary-text mt-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3"
    >
        {
            data?.entities.map(
                ({ title, excerpt, author, createdAt, image, slug }) => {
                    return (
                        <article class="border h-auto border-border rounded-md bg-backgroud-secondary overflow-hidden">
                            {image && <img src={image} alt={title} class="aspect-video object-cover" />}
                            <h3 class="text-primary-text text-lg font-semibold p-3 line-clamp-2">
                                {title}
                            </h3>
                            <p class="text-secondary-text text-sm px-3 line-clamp-3">
                                {excerpt}
                            </p>
                            <a href={`/project/${slug}`} class="text-daisy-bush-800 text-xs m-3 dark:text-daisy-bush-100 dark:bg-daisy-bush-600 inline-block px-4 py-1 rounded-sm bg-daisy-bush-100 hover:underline transition-all duration-300">
                                leer mas ...
                            </a>
                            <footer class="p-3">
                                <p class="text-secondary-text text-xs font-light">
                                    @{author?.name}
                                </p>
                                <p class="text-secondary-text text-xs font-light">
                                    {createdAt}
                                </p>
                            </footer>
                        </article>
                    );
                },
            )
        }
    </section>
    <Pagination />
</Layout>
